@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    outline: none;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: wheat;
}

.menu_list {
    display: flex;
    align-items: center;
}

.menu_list li {
    width: 120px;
    height: 40px;
    background-color: wheat;
    opacity: .9;
    line-height: 40px;
    text-align: center;
    align-items: center;
    font-size: 18px;
}

ul li a {
    text-decoration: none;
    color: rgb(131, 116, 50);
    display: block;
    font-weight: bold;
}

ul li a:hover {
    background-color: rgb(104, 96, 62);
    color: white;
}

ul li ul li {
    display: none;
}

ul li:hover ul li {
    display: block;
}

.menu_list .menu_xxx {
    display: block;
}

.banner_image {
    background-image: url(Hanoi_Adobe.jpg);
    width: 100%;
    height: 645px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner_content {
    font-size: 40px;
    color: whitesmoke;
}

.tayho,
.district,
.location {
    padding: 5% 15%;
    text-align: center;
}

.district {
    background-color: #f5f5f5f5;
}

.coffee1 {
    display: flex;
    margin-bottom: 50px;
    justify-content: space-around;
}

.coffee2 {
    display: flex;
    justify-content: space-around;
}

.coffeehouse {
    width: 30%;
    height: auto;
    cursor: pointer;
    overflow: hidden;
}

.name {
    margin-bottom: 25px;
}

.pt {
    width: 100%;
    position: relative;
    margin-top: -15%;
}

.pt h2 {
    text-align: center;
    font-size: 24px;
    color: #f5f5f5f5;
}

.coffeehouse img {
    width: 100%;
    display: block;
    height: auto;
    transition: 02s ease;
}

.coffeehouse:hover img {
    transform: scale(1.1, 1.1);
}

.location {
    background-color: darkslategrey;
}

.location1 h1 {
    margin-bottom: 40px;
}

.location2 {
    display: flex;
    justify-content: space-between;
}

.location3 {
    width: 40%;
}

.location3 h3 {
    text-align: center;
    font-size: 25px;
}

.bottom {
    text-align: center;
    padding: 1% 1%;
    background-color: black;
}

.bt1 a {
    color: #f5f5f5f5;
}

.bt2 ul {
    display: flex;
}

.bt2 ul li {
    margin: 0 10px;
}

.bt2 ul li a {
    color: #f5f5f5f5;
}

.bottom {
    display: flex;
    justify-content: space-around;
}

.logo {
    padding-left: 0px;
    height: 118px;
    float: left;
}

.tayho h1 {
    margin-bottom: 25px;
}